
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}
.nav{
    width: 100%;
    height: 60px;
    background-color: #30598c;
    padding: 0px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.logo{
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 120px;
}
.avatar img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.avatar{
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin: 0px 20px;
}
ul,li{
    list-style-type: none;
}
.sub-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .sub-menu a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
  }
  .sub-menu a:hover {
    color: aqua;
    background-color: teal;
  }
  
  .sub-menu li {
    list-style-type: none;
    margin: 0px 20px;
  }
  /* CSS menu cap con*/
  
  .sub-menu {
    position: relative;
  }
  
  .child-menu {
    position: absolute;
    padding-top: 20px;
    display: none;
  }
  
  .child-menu li {
    padding: 10px;
    background-color: #757575;
    
  }
  
  .sub-menu li:hover .child-menu {
    display: block;
  }
  

#left-thumb {
    margin: 50px;
    border: 1px solid #ccc;
    float: left;
}
#right-thumb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px;
    border: 1px solid #ccc;
}
.post {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgb(0 0 0 / 25%);
    height: 21.5%;
}
.post-thumbnail {
    float: left;
    height: 100%;
    width: 105px;
}
.post-info {
    display: flex;
    flex-direction: column;
    float: left;
    height: 100%;
    justify-content: space-between;
    padding: 5px;
    width: calc(100% - 110px);
}
.post-title {
    color: #464646;
    font-size: 14px;
    float: left;
}
.post-author {
    color: #757575;
    display: block;
    float: left;
}
.intro-btn{
    background-color: #30598c;
    border: 2px solid #30598c;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}
.content-img {
    background-color: #fff;
    border: 5px solid #fff;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 15%);
    position: relative;
    float: right;
    object-fit: cover;
}
.img-left{
    border: 5px solid #fff;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 15%);
    height: 50%;
    position: absolute;
    top: 85%;
    width: 40%;
    left: -5px;
    transform: rotate(8deg);
}
.img-right {
    border: 5px solid #fff;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 15%);
    height: 50%;
    position: absolute;
    top: 85%;
    width: 40%;
    right: -5px;
    transform: rotate(-8deg);
}
.sub-container {
  width: 80%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.intro-sub-container-content h3 {
  text-transform: uppercase;
}

.intro-sub-container-content {
  line-height: 1.5;
  color: #464646;
  font-size: 20px;
}

.img-large {
  height: 270px;
}

img {
  vertical-align: middle;
  border-style: none;
}
 #footer {
    background-color: #30598c;
  }
  
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
.footer {
    font-size: 14px;
    color: #fff;
    line-height: 2.5em;
    padding: 3rem 0;
  }
  
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
  }

.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  
.list-unstyled {
    padding-left: 0;
    list-style: none;
  }
a {
    text-decoration: none;
    color: #fff;
  }
  